@media(max-width: 375px) {	
    .titulo{
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background-color:#fe1a00;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:40px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:56px;
	width:375px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	margin-top: 5%;
	margin-left: 2%;
	margin-right: 2%;
	background-image: url('https://media.giphy.com/media/26BRyql7J3iOx875u/source.gif');
}

	.titulo:hover {
		background-color:#ce0100;
	}
	.titulo:active {
		position:relative;
		top:1px;
		}

	.background{
		background: rgb(45,40,116);
		background: linear-gradient(90deg, rgba(45,40,116,1) 1%, rgba(2,19,22,1) 100%, rgba(1,1,24,0) 100%);
		background-size: 400px 815px;
	}

	.links{
		margin-top: 10%;
		display: grid;
		grid-template-rows: 50px 50px 50px 50px 50px;
		color: white;
	}

    .inicio{
      background-color:#0006ff;
		border-radius:28px;
		border:1px solid #0006ff;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		padding:16px 31px;
		text-decoration:none;
		text-shadow:0px 1px 0px #2f6627;
		text-align: center;
		font-family:Arial;
		font-size:24px;
		font-weight:bold;
		font-style:normal;
		margin-left: 4%;
		margin-right: 4%;
    }

    .texto{
        text-align: left;
        margin: 0.5%;
        padding: 1rem;
        max-width:80%;
		margin-left: 8%;
		color: white;
		font-size: larger;
        
        }
    .anuncio{
        text-align: center;
        max-width: 80%;
        font-size: 2rem;
        border-style: solid;
        border-width: 2px;
        margin-left: 10%;
		margin-top: 5%;
		color: white;  
		font-family: Zilla Slab;      
	}
	.anuncio_2{
		color: white;
		font-family: Signika Negative;
	}
	.email{
		color:white;
		font-family: Signika Negative;
	}
    .pass{
		color:white;
		font-family: Signika Negative;
	}
	.deseja{
		color:white;
		font-family: Signika Negative;
	}
}
   
    