/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #000000; }
.My-Color-Theme-2-hex { color: #C4C4C4; }
.My-Color-Theme-3-hex { color: #FF0000; }
.My-Color-Theme-4-hex { color: #FEFEFE; }
.My-Color-Theme-5-hex { color: #0006FF; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(0, 0, 0, 1); }
.My-Color-Theme-2-rgba { color: rgba(196, 196, 196, 1); }
.My-Color-Theme-3-rgba { color: rgba(255, 0, 0, 1); }
.My-Color-Theme-4-rgba { color: rgba(254, 254, 254, 1); }
.My-Color-Theme-5-rgba { color: rgba(0, 6, 255, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(0, 0, 0, 1); }
.My-Color-Theme-2-hsla { color: hsla(0, 0, 76, 1); }
.My-Color-Theme-3-hsla { color: hsla(0, 100, 50, 1); }
.My-Color-Theme-4-hsla { color: hsla(0, 0, 99, 1); }
.My-Color-Theme-5-hsla { color: hsla(238, 100, 50, 1); }
