@media(max-width: 375px) {

	.titulo{
		font-size: 3rem;
		text-align: center;	
	}
	
	.figura{
		margin-top: 10%;
		border-radius: 10px;
	}

	.links{
		margin-top: 10%;
		display: grid;
		grid-template-rows: 50px 50px 50px 50px 50px;
	}

	.catalogo{
		text-align: center;
		border-style: solid;
		border-width: 10px;
		border-radius: 10px;
		background-color: darkgray;
		margin: 0 25%;
	}

	.barbearias{
		text-align: center;
		border-style: solid;
		border-width: 10px;
		border-radius: 10px;
		margin: 0 25%;
	}

	.questionario{
		text-align: center;
		border-style: solid;
		border-width: 10px;
		border-radius: 10px;
		margin: 0 25%;
		margin: 14%
	}

	.historico{
		text-align: center;
		border-style: solid;
		border-width: 10px;
		border-radius: 10px;
		margin: 0 25%;
	}

	.agendamentos{
		text-align: center;
		border-style: solid;
		border-width: 10px;
		border-radius: 10px;
		margin: 0 25%;
	}

	

}